@ika-blue: lighten(#004ffa, 10%);
@ika-turquoise: #55c2b2;
@ika-pink: #eb599a;
@ika-purple: #b852de;
@ika-lime: #b6d522;
@tako-red: #bd3c41;
@ika-orange: #ee6b30;
@ika-white: #efe0bb;
@wii-u: #3796c5;

// These colors are specific to the theme. Do not use in a package!

@very-light-gray: hsl(0, 0%, 90%);
@light-gray: #969896;
@gray: #383838;
@dark-gray: #2c2c2c;
@very-dark-gray: #1d1f21;

// settings
@cyan: @ika-blue;
@blue: @ika-lime; 
@purple: @ika-purple;
@green: @tako-red;
@red: @ika-pink;
@orange: @ika-orange;
@light-orange: @ika-turquoise;
