@ink-blue: #004ffa;
@ink-turquoise: #55c2b2;
@ink-pink: #eb599a;
@ink-purple: #b852de;
@ink-lime: #b6d522;
@ink-orange: #ee6b30;

// @wii-u: #0096c8;
// @tako-red: #bd3c41;

// These colors are specific to the theme. Do not use in a package!

@color1: @ink-lime; //#A6E22E;
@color2: @ink-turquoise; // #E6DB74;
@color3: @ink-purple;; //#66D9EF;
@color4: @ink-pink; //#F92672;
@color5: @ink-orange; //#AE81FF;
@color6: @ink-blue; // #FD971F;